# Supabase
VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

# CricketData API
VITE_CRICAPI_KEY=your_cricapi_key

# Redis Configuration (Optional: defaults to redis://localhost:6379)
REDIS_URL=redis://localhost:6379



#for example user1 created challenge. after creating the challenge, the challenge will be visible in activity of user1 and in his feed which is immutable for anyone. The challenge card should show the questions and options who have not  particpated in the challenge, after selection of all answers the users will get pop up  for confirmation for locking prediction. after confermation the user user will recieve all the notification if some participated and also he can see the participants in the challenge card . add a unique id  for each day for challenge card with 3 places of alphanumericc. This challenge also shown in for other users who are friends of user1, if the any friend (user2) participated by locking all his predictions this challenge card will show in user2 's activity and in other friend's activity who have participated.  And the challenge card keep updating with the participants details in live. users also can comment on the challenge card. 

